<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="classicalMusicBean"
          class="ru.brinicle.springcourse.ClassicalMusic"
        init-method="doMyInit"
        destroy-method="doMyDestroy"
        scope="singleton"
        factory-method="getClassicalMusic">
    </bean>

    <bean id="rockMusicBean"
          class="ru.brinicle.springcourse.RockMusic">
    </bean>

    <bean id="popMusicBean"
          class="ru.brinicle.springcourse.PopMusic">
    </bean>

    <bean id="musicBean"
          class="ru.brinicle.springcourse.RockMusic">
    </bean>

    <bean id="musicPlayer"
          class="ru.brinicle.springcourse.MusicPlayer"
          scope="prototype">
        <property name="music" ref="musicBean"/>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>

        <property name="musicList">
            <list>
                <ref bean="classicalMusicBean"/>
                <ref bean="rockMusicBean"/>
                <ref bean="popMusicBean"/>
            </list>
        </property>
    </bean>

</beans>